{% if request.session.get('user_id') %}
<div
  class="app-chrome-left"
  x-data="userChrome()"
  x-init="init()"
  data-initial-name="{{ request.session.get('full_name') or request.session.get('username') or 'User' }}"
  @keydown.escape.window="menuOpen = false"
>
  <div class="user-menu-wrap">
    <button
      type="button"
      class="profile-trigger"
      aria-haspopup="menu"
      aria-expanded="false"
      :aria-expanded="menuOpen"
      @click="toggleMenu()"
    >
      <img
        x-show="profile.photo_url"
        :src="profile.photo_url"
        alt=""
        class="profile-trigger-avatar"
        x-cloak
      />
      <span
        class="profile-trigger-initial"
        x-show="!profile.photo_url"
        x-text="initials"
      ></span>
      <span class="profile-trigger-name" x-text="profile.full_name || initialName"></span>
      <svg class="profile-trigger-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 0 1 1.06.02L10 10.94l3.71-3.71a.75.75 0 1 1 1.06 1.06l-4.24 4.25a.75.75 0 0 1-1.06 0L5.21 8.29a.75.75 0 0 1 .02-1.08Z" clip-rule="evenodd" />
      </svg>
    </button>

    <div
      class="user-menu-popup"
      x-show="menuOpen"
      x-cloak
      @click.outside="menuOpen = false"
      role="menu"
    >
      <button type="button" class="user-menu-item" role="menuitem" @click="openProfile()">Profile</button>
      <button type="button" class="user-menu-item" role="menuitem" @click="openSettings()">Settings</button>
      <button
        type="button"
        class="user-menu-item"
        role="menuitem"
        x-show="isAdmin"
        @click="openAdmin()"
        x-cloak
      >
        Admin
      </button>
      <a href="/claims/new" class="user-menu-item user-menu-item--enterprise" role="menuitem">Enterprise</a>
      <a href="/auth/logout" class="user-menu-item user-menu-item--signout" role="menuitem">Sign out</a>
    </div>
  </div>

  {% include "partials/profile_panel.html" %}
  {% include "partials/settings_panel_shell.html" %}
  {% include "partials/admin_panel_shell.html" %}
</div>
{% endif %}
